body {
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: white;
}
.section {
    margin-bottom: 30px;
}
h2 {
    color: #333333; /* Dark gray */
    font-weight: 700;
}
.table {
    background-color: #ffffff; /* White */
}
.table th,
.table td {
    border: 1px solid #e0e0e0; /* Light gray */
    padding: 10px;
}
.btn-primary {
    background-color: #e0e0e0;
    border-color: #ffffff; /* Default Bootstrap blue */
}
