<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ETHopoly</title>
    <!-- Add jQuery (old but works)-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!-- Add Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="/static/js/index.js"></script>
    <link href="/static/css/styles.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel= "stylesheet">
</head>
<body class="bg-gray-100 font-sans antialiased">

    <h1 class="text-4xl font-bold my-8 text-center">ETHopoly</h1>

    <div class="container mx-auto">
        <div class="text-right">
            <button type="button" class="btn btn-primary" onClick="connectWalletHandler()" id="wallet_connect">Connect Wallet</button>
        </div>
        <div class="flex">
            <!-- Company Prices Section -->
            <div class="w-1/2 mr-8 company-display">
                <h2 class="text-2xl font-bold mb-4">Company Prices</h2>
                <table class="w-full table-auto">
                    <thead>
                        <tr>
                            <th class="custom-border">Company</th>
                            <th class="custom-border">Price</th>
                            <th class="custom-border">Total Shares</th>
                            <!-- <th class="custom-border">Total Market Cap</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for company in companies %}
                            <tr>
                                <!-- <td class="custom-border">{{ company.name }}</td> -->
                                <!-- <td style="background-image: url('static/logos/bostondao100.png');  background-size: cover;"></td> -->
                                <td class="custom-border" id="{{ company.name }}-logo"> <img src="{{ company.logo }}" height="75" width="75"/> {{ company.name }} </td>
                                <td class="custom-border" id="{{ company.name }}-value">Ξ {{ company.value }}</td>
                                <td class="custom-border" id="{{ company.name }}-total-shares">{{ company.total_shares }}</td>
                                <!-- <td class="custom-border">{{ company.value * company.total_shares }}</td> -->
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- Trade Shares Section -->
            <div class="w-1/2">
                <div class="mb-8">
                    <h2 class="text-2xl font-bold mb-4">Trade Shares</h2>
                    <div class="mb-3">
                        <label for="company" class="font-semibold">Company</label>
                        <select class="w-full border border-gray-300 p-2" id="company" name="company">
                            {% for company in companies %}
                                <option value="{{ company.name }}">{{ company.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="shares" class="font-semibold">Number of shares</label>
                        <input type="number" class="w-full border border-gray-300 p-2" id="shares" id="shares" min="1">
                    </div>
                    <div class="flex space-x-4">
                        <button onclick="doTrade(true)"class="w-1/2 py-2 px-4 bg-green-600 text-white font-bold rounded hover:bg-green-500">Buy</button>
                        <button onclick="doTrade(false)" class="w-1/2 py-2 px-4 bg-red-600 text-white font-bold rounded hover:bg-red-500">Sell</button>
                    </div>
                </div>
    
                <!-- User Portfolio Section -->
                <div>
                    <h2 class="text-2xl font-bold mb-4">User Portfolio</h2>
                    <h3 class="text-2x1 font-bold mb-4" id="player-cash">Cash: Ξ0</h3>
                    <table class="w-full table-auto">
                        <thead>
                            <tr>
                                <th class="custom-border">Company</th>
                                <th class="custom-border">Shares</th>
                            </tr>
                        </thead>
                        <tbody id="player-holdings">
                            {% for holding in holdings_with_value %}
                                <tr>
                                    <td class="custom-border">{{ holding[0] }}</td>
                                    <td class="custom-border">{{ holding[1] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <!-- Vote for Companies Section -->
                <div>
                    <h2 class="text-2xl font-bold mb-4">Vote for Companies</h2>
                    <div class="floating-container">
                        {% for company in companies %}
                            <form method="POST" action="/vote" class="floating-button" id="vote-form-{{ loop.index }}" style="top: {{ loop.index * 10 }}px; left: {{ loop.index * 20 }}px;">
                                <input type="hidden" name="company" value="{{ company.name }}">
                                <button type="submit" class="bg-blue-600 text-white w-16 h-16 rounded-full flex items-center justify-center text-xs leading-tight px-1">
                                    <div class="text-center">
                                        <div>{{ company.name }}: <span class="vote-count">{{ company.clicks }}</span></div>
                                    </div>
                                </button>                                
                            </form>
                        {% endfor %}
                    </div>
                </div>

                <script>
                    // Animate the floating buttons
                    const buttons = document.querySelectorAll('.floating-button');
                    buttons.forEach(button => {
                        const container = document.querySelector('.floating-container');
                        const maxX = container.offsetWidth - button.offsetWidth;
                        const maxY = container.offsetHeight - button.offsetHeight;
                        setInterval(() => {
                            const randomX = Math.random() * maxX;
                            const randomY = Math.random() * maxY;
                            button.style.transform = `translate(${randomX}px, ${randomY}px)`;
                        }, 5000);
                    });

                    // Submit the form asynchronously
                    buttons.forEach(button => {
                        button.addEventListener('submit', (event) => {
                            event.preventDefault(); // Prevent default form submission behavior
                            const formData = new FormData(event.target);
                            fetch(event.target.action, {
                                method: 'POST',
                                body: formData
                            }).then(response => {
                                return response.json();
                            }).then(data => {
                                // Update the vote count displayed in the bubble
                                const voteCountElement = button.querySelector('.vote-count');
                                voteCountElement.textContent = data.vote_count;
                            }).catch(error => {
                                // Handle error
                            });
                        });
                    });
                </script>

            </div>
        </div>
    </div>

</body>
</html>
